{% extends 'home.html' %}

 {% block content %}
 <style type="text/css">
 	.login_form{
 		margin-top: 50px;
 		width: 200px;
 		height: auto;
    margin-left: 0px;  
 	}
  #heading{
    margin-left: -20px;
  }
 </style>
 	<center>
 	<div class="login_form">
    <center>
 		<h1 style="color:#EE6E73" id="heading">REGISTER</h1></center>
 		<span></span>
    <form class="col s12" method="POST">
    	{% csrf_token %}
        <div class="input-field col s6">
          <input id="username" type="text" class="validate" name="temp_uname">
          <label for="username">Username</label>
        </div>
    	<div class="input-field col s6">
          <input id="password" type="password" class="validate" name="temp_pass">
          <label for="password">Password</label>
        </div>  
      <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="temp_pass_rep">
          <label for="password">Repeat Password</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn" style="margin-top: 10px">Register</button>
    </form>
	</div>
	<br><br>


	{% if alr_reg == True %}
  		<p style="color: red">User already registered.<a href="/shopoholic/login">Login</a></p>
  	{% endif %}

  	{% if pass_match == False %}
  		<p style="color: red">Passwords don't match</p>
  	{% endif %}

 	</center>

 	



 {% endblock content %}